
.mixin.out/audit/mixin_implementation_report.txt

.mixin.out/audit/mixin_implementation_report.csv

.ReAuth.cfg

astralsorcery/gatewayFilter/worldFilter.dat

BotaniaVars.dat

crafttweaker.log

usercache.json

usernamecache.json

saves/Recepisy/stats/a51e5cbd-f066-47b9-ba4a-edc4a0a6f1f4.json

saves/

logs/

backups/

journeymap/

local/client/

local/ftbutilities/

resourcepacks/Aether b1.7.3 Textures/

options.txt

patchouli_data.json

crash-reports/
