# Configuration file

general {
    # This causes the deletion slot to delete items instantly, similar to Creative Mode. [default: false]
    B:"Instant Deletion"=false
}


gui {

    "net/minecraft/client/gui/inventory/guiinventory" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: true]
        B:Enabled=true

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 60]
        I:"Slot X"=60

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 83]
        I:"Slot Y"=83
    }

    "net/minecraft/client/gui/inventory/guichest_large" {
        # The x coordinate of the anchor point for the slot position.
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position.
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot.
        B:Enabled=true

        # The x coordinate of the slot relative to the anchor.
        I:"Slot X"=59

        # The y coordinate of the slot relative to the anchor.
        I:"Slot Y"=111
    }

    "net/minecraft/client/gui/inventory/guifurnace" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 60]
        I:"Slot X"=60

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 83]
        I:"Slot Y"=83
    }

    "slimeknights/tconstruct/tools/common/client/module/guisideinventory" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 39]
        I:"Slot X"=39

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 75]
        I:"Slot Y"=75
    }

    "slimeknights/tconstruct/tools/common/client/guitoolstation" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 176]
        I:"Slot X"=176

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 103]
        I:"Slot Y"=103
    }

    "slimeknights/tconstruct/tools/common/client/module/guibuttonstoolstation" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 25]
        I:"Slot X"=25

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 31]
        I:"Slot Y"=31
    }

    "slimeknights/tconstruct/tools/common/client/module/guiinfopanel" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 35]
        I:"Slot X"=35

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 41]
        I:"Slot Y"=41
    }

    "slimeknights/tconstruct/tools/common/client/guistenciltable" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 163]
        I:"Slot X"=163

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 99]
        I:"Slot Y"=99
    }

    "slimeknights/tconstruct/tools/common/client/module/guibuttonspartcrafter" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 14]
        I:"Slot X"=14

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 42]
        I:"Slot Y"=42
    }

    "net/minecraft/client/gui/inventory/guichest" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: true]
        B:Enabled=true

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 60]
        I:"Slot X"=60

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 84]
        I:"Slot Y"=84
    }

}


